.app.dark {
  --bg-color: #040467;
  --inverted-bg-color:#eeeef0;
  
  --primary-color: #0cef0c;
  --secondary-color: #1ec61e;

  --inverted-primary-color: #0e20c7;
  --inverted-secondary-color: #2f75ff;
}
